/* Fonts: Lexend, Roboto, Robot Mono */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Themes */
:root {
  --black: #282828;
  --darkblue: #223586;
  --darkblue-accent: #3C4A76;
  --paleblue-accent: #4A6D9B;
  --gibby-blue: #33A8D5;
  --gibby-lightblue: #A4D3E9;
  --grey: #DBDFEA;
  --white: #F8F8F8;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--grey);
}

img {
    -webkit-user-drag: none;
}